<div>
    Player:
    <div>
      <!--<ul>
        <div *ngFor="let card of hand">
          <div class="card" style="color:{{playerCard.color}}">
            <span>{{playerCard.name}}</span>
            <span ng-bind-html="showSuit(playerCard.suit)"></span>
          </div>
        </div>
      </ul>
      <span>{{player.total}}</span>-->
      <div>
        <!-- <button *ngIf="showDealButton" (click)="deal()">DEAL</button> -->
        <!-- <button *ngIf="showHitButton" ng-click="hit()">HIT</button>
        <button *ngIf="showStandButton" ng-click="stand()">STAND</button>
        <button *ngIf="showDoubleButton" ng-click="doubleDown()">
          DOUBLE DOWN
        </button>
        <button *ngIf="showSplitButton" ng-click="split(player.hand)">
          SPLIT
        </button> -->
      </div>
    </div>
  </div>