button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    color: #fff;
}

.card {
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    font-size: 25pt;
    text-align: center;
    margin: 3px;
}

.coveredCard {
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    display: inline-block;
    background-color: red;
    border-radius: 10px;
    font-size: 25pt;
    text-align: center;
    margin: 3px;
}