<div class="modal-backdrop show"></div>
<div class="modal text-center modal-dialog-scrollable" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container">
                <h5 class="modal-title">Side Bets</h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Buster Black Jack</h5>
                            <p class="card-text">Dealer must bust. The more cards the dealer busts with, the more the
                                player is paid.</p>
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Cards</th>
                                        <th scope="col">Payout Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">3</td>
                                        <td>1:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">4</td>
                                        <td>2:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">5</td>
                                        <td>10:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">6</td>
                                        <td>20:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">7 or more</td>
                                        <td>100:1</td>
                                    </tr>
                                </tbody>
                            </table>
                            $<input [(ngModel)]="busterBetAmount" style="width:40px" type="number" min="0" max="25">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Fortune Black Jack</h5>
                            <p class="card-text">
                                The total of the player's first two cards and the dealer's up card must be between 19
                                and 21.
                            </p>
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Cards</th>
                                        <th scope="col">Payout Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Any 19</td>
                                        <td>1:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Any 20</td>
                                        <td>2:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Unsuited 21</td>
                                        <td>5:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Suited 21</td>
                                        <td>10:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Unsuited 6-7-8</td>
                                        <td>25:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Any 7-7-7</td>
                                        <td>50:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Suited 6-7-8</td>
                                        <td>100:1</td>
                                    </tr>
                                </tbody>
                            </table>
                            $<input [(ngModel)]="fortuneBetAmount" style="width:40px" type="number" min="0" max="25">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Au Pair Black Jack</h5>
                            <p class="card-text">Player must get black jack with a special card combo.</p>
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Pair</th>
                                        <th scope="col">Payout Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Any Pair</td>
                                        <td>1:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Colored Pair (Same color, mixed suit)</td>
                                        <td>2:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Suited Pair (Same suit, mixed color)</td>
                                        <td>25:1</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Pair of Spades</td>
                                        <td>50:1</td>
                                    </tr>
                                </tbody>
                            </table>
                            $<input [(ngModel)]="aupairBetAmount" style="width:40px" type="number" min="0" max="25">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-center">
            <div class="container">
                <p>Choose any side bet and place any bet amount between $1 and $25.</p>
                <button type="button" class="btn btn-primary" style="margin-right: 5px;" data-bs-dismiss="modal"
                (click)="addSideBets()">Add
                    Side Bet(s)</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 5px;" data-bs-dismiss="modal"
                    (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>